

.card{
    width: 600px;
    margin: 10% auto;
    

}

.card .card-header h2{
    color: white;
    font-family: roboto;
    font-weight: 500;
    
}

.card .card-header,.card .card-footer{
    background: #1e2833 ;
    border-radius: 13px !important;
    
}

.card-body{
    background-color: aliceblue;
}

.card .card-footer .updateBtn{
    background: #20497d;
    margin: 0 41%;
    color: white;
}

.form-control{
    border-radius: 20px !important;
}